.createEventForm {
    flex: 1;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
  }

.createEventForm form {
    margin: 30px;
    width: 80%;
}

.form_field {
    margin: 10px;
}

